body, html {
    margin: 0;
    padding: 0;
    height: 100%;

    background: #303030;
}

body, ui-view {
    flex: auto;
    display: flex;
    flex-direction: row;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}